{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add books</legend>
                <div class="form-group">
                    {{ form.isbn.label(class="form-control-label") }}

                    {% if form.isbn.errors %}
                        {{ form.isbn(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.isbn.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.isbn(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.booktitle.label(class="form-control-label") }}
                    {% if form.booktitle.errors %}
                        {{ form.booktitle(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.booktitle.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.booktitle(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.bookauthor.label(class="form-control-label") }}
                    {% if form.bookauthor.errors %}
                        {{ form.bookauthor(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.bookauthor.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.bookauthor(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.yrpublished.label(class="form-control-label") }}
                    {% if form.yrpublished.errors %}
                        {{ form.yrpublished(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.yrpublished.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.yrpublished(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.publisher.label(class="form-control-label") }}
                    {% if form.publisher.errors %}
                        {{ form.publisher(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.publisher.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.publisher(class="form-control form-control-lg") }}
                    {% endif %}
                </div> 
                <div class="form-group">
                    {{ form.imgurl1.label(class="form-control-label") }}
                    {% if form.imgurl1.errors %}
                        {{ form.imgurl1(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.imgurl1.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.imgurl1(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.imgurl2.label(class="form-control-label") }}
                    {% if form.imgurl2.errors %}
                        {{ form.imgurl2(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.imgurl2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.imgurl2(class="form-control form-control-lg") }}
                    {% endif %}
                </div>   
                <div class="form-group">
                    {{ form.imgurl3.label(class="form-control-label") }}
                    {% if form.imgurl3.errors %}
                        {{ form.imgurl3(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.imgurl3.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.imgurl3(class="form-control form-control-lg") }}
                    {% endif %}
                </div>                                                                     
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
        </small>
    </div>
{% endblock content %}